
script_samples/add_data.sh

script_samples/update_data_08_16.sh

script_samples/rischi.sh

tools/rischi.xml

tools/update_data_08_16.sh

tools/add_data.sh

tools/rischi.sh

tools/update_rischi.sh

tools/update_data.sh

tools/osm.sh

tools/add.sh

tools/update.sh

tools/ChinesePlaces.geojson

tools/scrape.py

tools/inmates.csv

tools/prova.sh
